<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMapper">
	<resultMap type="Member" id="adminResultMap">
		<id 	property="memberId" 	  column="MEMBER_ID"></id>
		<result property="memberPw" 	  column="MEMBER_PW"></result>
		<result property="memberNickname" column="MEMBER_NICKNAME"></result>
		<result property="memberName" 	  column="MEMBER_NAME"></result>
		<result property="memberBirth" 	  column="MEMBER_BIRTH"></result>
		<result property="memberPhone" 	  column="MEMBER_PHONE"></result>
		<result property="adminYn" 		  column="ADMIN_YN"></result>
		<result property="delYn" 		  column="DEL_YN"></result>	 
	</resultMap>
	
	<!-- 회원 전체 조회 -->
	<select id="selectAllMember" resultMap="adminResultMap">
		select * from member where DEL_YN ='N' and ADMIN_YN='N'
	</select>
	<select id="selectListCount" resultType="_int">
		select count (*) from member where DEL_YN ='N' and ADMIN_YN='N'
	</select>
	
	<!-- 회원 검색 -->
		<select id="selectOneByKeyword" resultMap="adminResultMap">
		select * from member 
		<where>
			<if test="searchCondition == 'total'">
				MEMBER_ID like '%'||#{searchKeyword}||'%' or
				MEMBER_NICKNAME like '%'||#{searchKeyword}||'%'
			</if>
			<if test="searchCondition == 'id'">
				MEMBER_ID like '%'||#{searchKeyword}||'%'
			</if>
			<if test="searchCondition == 'nick'">
				MEMBER_NICKNAME like '%'||#{searchKeyword}||'%'
			</if>
			and DEL_YN ='N' and ADMIN_YN='N'
		</where>
	</select>
	<select id="getSearchCount" resultType="_int">
		select count (*) from member 
		<where>
			<if test="searchCondition == 'total'">
				MEMBER_ID like '%'||#{searchKeyword}||'%' or
				MEMBER_NICKNAME like '%'||#{searchKeyword}||'%' 
			</if>
			<if test="searchCondition == 'id'">
				MEMBER_ID like '%'||#{searchKeyword}||'%'
			</if>
			<if test="searchCondition == 'nick'">
				MEMBER_NICKNAME like '%'||#{searchKeyword}||'%'
			</if>
			and DEL_YN ='N' and ADMIN_YN='N'
		</where>
	</select>
	
	<update id="updateCategory">
	    UPDATE category_table
	    SET FIRST_CATEGORY = #{firstCategory}, 
	        SECOND_CATEGORY = #{secondCategory}, 
	        THIRD_CATEGORY = #{thirdCategory}
	    WHERE CATEGORY_NO = #{categoryNo};
	</update>
	
	<insert id="insertCategory" useGeneratedKeys="true" keyProperty="categoryNo">
	    INSERT INTO CATEGORY (CATEGORY_NO, FIRST_CATEGORY, SECOND_CATEGORY, THIRD_CATEGORY)
	    VALUES (category_seq.NEXTVAL, #{firstCategory}, #{secondCategory}, #{thirdCategory});
	</insert>	
		
</mapper>