<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardFileMapper">

	<insert id="insertBoardFile">
		insert into BOARD_FILE values(seq_B_FILE_NO.nextval, #{boardNo}, #{bFileName}, #{bFileRename}, #{bFilePath})
	</insert>  

</mapper>  