<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="RecipeMapper">
 	<resultMap type="com.oneyo.spring.recipe.domain.RecipeVO" id="recipeResultMap">
 		<id 	property="recipeNo" 		column="RECIPE_NO"/>
 		<result property="memberId" 		column="MEMBER_ID" />
 		<result property="recipeTitle" 		column="RECIPE_TITLE" />
 		<result property="recipeContentNo" 	column="RECIPE_CONTENT_NO" />
 		<result property="recipeSourcesNo" 	column="RECIPE_SOURCES_NO" />
 		<result property="recipeDate" 		column="RECIPE_DATE" />
 		<result property="updateDate" 		column="UPDATE_DATE" />
 		<result property="viewCount" 		column="VIEW_COUNT" />
 		<result property="delYn" 			column="DEL_YN" />
 		<result property="memberNickName" 	column="MEMBER_NICKNAME" />
 		
 		
 	</resultMap>
 	
 	<insert id="insertRecipe" parameterType="com.oneyo.spring.recipe.domain.RecipeVO" useGeneratedKeys="true" keyProperty="recipeNo">
	    INSERT INTO Recipe (RECIPE_NO, RECIPE_TITLE, MEMBER_ID, recipe_filename, recipe_filerename, recipe_filepath)
	    VALUES (RECIPE_SEQ.NEXTVAL, #{recipeTitle}, #{memberId}, #{recipeFilename}, #{recipeFileRename}, #{recipeFilePath})
	</insert>
 	
 	<select id="selectList" resultMap ="recipeResultMap">
 		SELECT 
 			RECIPE.RECIPE_NO, RECIPE.MEMBER_ID, RECIPE.RECIPE_TITLE, RECIPE.VIEW_COUNT, MEMBER.MEMBER_NICKNAME 
 		FROM 
 			RECIPE 
 		LEFT JOIN MEMBER ON
 			RECIPE.MEMBER_ID = MEMBER.MEMBER_ID 
 		ORDER BY RECIPE_NO
 	</select>
 	<select id="selectOneByNo" resultMap="recipeResultMap">
		SELECT 
		    RECIPE.RECIPE_NO, RECIPE.MEMBER_ID, RECIPE.RECIPE_TITLE, RECIPE.VIEW_COUNT, MEMBER.MEMBER_NICKNAME 
		FROM 
		    RECIPE
		LEFT JOIN MEMBER ON
 			RECIPE.MEMBER_ID = MEMBER.MEMBER_ID 
		WHERE 
		    RECIPE.RECIPE_NO = #{recipeNo}
 	</select>
 	<select id="selectPersonalList" resultMap ="recipeResultMap">
 		SELECT 
	         DISTINCT RECIPE_TITLE, MEMBER_NICKNAME, VIEW_COUNT, R.RECIPE_NO
	    FROM 
	        MEMBER M
	    JOIN 
	        REFRIGERATOR FR
	    ON 
	        FR.MEMBER_ID = M.MEMBER_ID
	    JOIN
	        SOURCES S
	    ON
	        FR.SOURCES_NO = S.SOURCES_NO
	    JOIN 
	        RECIPE_SOURCES RS
	    ON 
	        RS.SOURCES_NO = S.SOURCES_NO
	    JOIN 
	        RECIPE R
	    ON
	        R.RECIPE_NO = RS.RECIPE_NO
	    WHERE 
	        M.MEMBER_ID = #{memberId} AND FR.SOURCES_NO = S.SOURCES_NO 
 	</select>
 	<select id="getTotalCount" resultType="_int">
 		SELECT COUNT(*) FROM RECIPE
 	</select>
 	<select id="getSearchCount" resultType="_int">
 		SELECT COUNT(*) FROM RECIPE WHERE RECIPE_TITLE LIKE '%' #{searchKeyword}
 	</select>
 	<select id="selectSearchList" resultMap="recipeResultMap">
 		SELECT * FROM RECIPE
 		<where>
 			RECIPE_TITLE LIKE '%' || #{searchKeyword} || '%'
 		</where>
 		ORDER BY RECIPE_NO DESC
 	</select>
 	
	<update id="updateRecipe">
		UPDATE RECIPE 
		SET RECIPE TITLE = #{recipeTitle}
		, RECIPE_CONTENTNO = #{recipeContentNo} 
		, MEMBERID = #{memberId}
		, UPDATE_DATE = SYSDATE
		WHERE RECIPE_NO = #{recipeNo} 
	</update>
	<delete id="deleteRecipe">
		UPDATE RECIPE_TBL
		SET DEL_YN = 'Y'
		WHERE RECIPE_NO = #{recipeNo}
	</delete>
</mapper>
