<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="RecipeMapper">
 	<resultMap type="com.oneyo.spring.recipe.domain.RecipeVO" id="recipeResultMap">
 		<id property="recipeNo" column="RECIPE_NO"/>
 		<result property="memberId" column="MEMBER_ID" />
 		<result property="recipeTitle" column="RECIPE_TITLE" />
 		<result property="recipeContentNo" column="RECIPE_CONTENT_NO" />
 		<result property="recipeSourcesNo" column="RECIPE_SOURCES_NO" />
 		<result property="recipeDate" column="RECIPE_DATE" />
 		<result property="updateDate" column="UPDATE_DATE" />
 		<result property="viewCount" column="VIEW_COUNT" />
 		<result property="delYn" column="DEL_YN" />
 		<result property="memberNickName" column="MEMBER_NICKNAME" />
 		
 	</resultMap>
 	
 	<select id="selectList" resultMap ="recipeResultMap">
 		SELECT 
 			RECIPE.RECIPE_NO, RECIPE.MEMBER_ID, RECIPE.RECIPE_TITLE, RECIPE.VIEW_COUNT, MEMBER.MEMBER_NICKNAME 
 		FROM 
 			RECIPE 
 		LEFT JOIN MEMBER ON
 			RECIPE.MEMBER_ID = MEMBER.MEMBER_ID 
 		ORDER BY RECIPE_NO
 	</select>
 	<select id="selectOneByNo" resultMap="recipeResultMap">
		SELECT 
		    RECIPE.RECIPE_NO, RECIPE.MEMBER_ID, RECIPE.RECIPE_TITLE, RECIPE.VIEW_COUNT, MEMBER.MEMBER_NICKNAME 
		FROM 
		    RECIPE
		LEFT JOIN MEMBER ON
 			RECIPE.MEMBER_ID = MEMBER.MEMBER_ID 
		WHERE 
		    RECIPE.RECIPE_NO = #{recipeNo}
 	</select>
 	<select id="getTotalCount" resultType="_int">
 		SELECT COUNT(*) FROM RECIPE
 	</select>
 	<select id="getSearchCount" resultType="_int">
 		SELECT COUNT(*) FROM RECIPE WHERE RECIPE_TITLE LIKE '%' #{searchKeyword}
 	</select>
 	<select id="selectSearchList" resultMap="recipeResultMap">
 		SELECT * FROM RECIPE
 		<where>
 			RECIPE_TITLE LIKE '%' || #{searchKeyword} || '%'
 		</where>
 		ORDER BY RECIPE_NO DESC
 	</select>
 	
	<insert id="insertRecipe">
		INSERT INTO RECIPE (RECIPE_NO, RECIPE_TITLE, RECIPE_CONTENT_NO, MEMBER_ID, RECIPE_DATE, UPDATE_DATE, DEL_YN, VIEW_COUNT, RECIPE_SOURCES_NO)
    	VALUES (SEQ_RECIPE_NO.NEXTVAL, #{recipeTitle}, #{recipeContentNo}, #{memberId}, SYSDATE, SYSDATE, 'N', 0, #{recipeSourcesNo})
	</insert>
	
	<update id="updateRecipe">
		UPDATE RECIPE 
		SET RECIPE TITLE = #{recipeTitle}
		, RECIPE_CONTENTNO = #{recipeContentNo} 
		, MEMBERID = #{memberId}
		, UPDATE_DATE = SYSDATE
		WHERE RECIPE_NO = #{recipeNo} 
	</update>
	<delete id="deleteRecipe">
		UPDATE RECIPE_TBL
		SET DEL_YN = 'Y'
		WHERE RECIPE_NO = #{recipeNo}
	</delete>
</mapper>
