<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RecipeSourceMapper">
 
<resultMap type="source" id="recipeSourcesMap">
	<result property="recipeNo" 		column="RECIPE_NO"/>
	<result property="sourcesNo" 		column="SOURCES_NO"/>
	<result property="sourcesName" 		column="SOURCE_NAME"/>
	<result property="categoryNo" 		column="CATEGORY_NO"/>
	<result property="firstCategory"	column="FIRST_CATEGORY"/>
	<result property="secondCategory" 	column="SECOND_CATEGORY"/>
	<result property="thirdCategory"	column="THIRD_CATEGORY"/>
</resultMap>
<select id="getSourcesByrecipeNo" resultMap="recipeSourcesMap">
	SELECT 
        SOURCE_NAME
    FROM 
        SOURCES
    JOIN
        RECIPE_SOURCES 
    ON
        RECIPE_SOURCES.SOURCES_NO = SOURCES.SOURCES_NO
    WHERE 
        RECIPE_SOURCES.RECIPE_NO = #{recipeNo}
</select>
<insert id="insertSources">
	INSERT INTO SOURCES (RECIPE_NO, SOURCES_NO, SOURCE_NAME, FIRST_CATEGORY, SECOND_CATEGORY, THIRD_CATEGORY)
	VALUES (SEQ_SOURCES_NO.NEXTVAL, #{sourcesNo}, #{sourcesName}, #{firstCategory}, #{secondCategory}, #{thirdCategory})
</insert>
<update id="updateSources">
	UPDATE SOURCES
	SET SOURCES_NO = #{sourcesNo} 
	, SOURCE_NAME = #{sourcesName}
	, FIRST_CATEGORY = #{firstCategory}
	, SECOND_CATEGORY = #{secondCategory}
	, THIRD_CATEGORY = #{thirdCategory}
	WHERE SOURCES_NO = #{sourcesNo} AND RECIP_NO = #{recipeNo};
</update>
<delete id="deleteSources">
	UPDATE SOURCES
	SET DEL_YN = 'Y'
	WHERE SOURCES_NO = #{sourcesNo}
</delete>
 </mapper>