<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StepMapper">
    <resultMap type="com.oneyo.spring.step.domain.StepVO" id="stepResultMap">
    	<id property="stepNo" column="STEP_NO"/>
    	<result property="stepContent" column="STEP_CONTENT"/>
    	<result property="stepAmount" column="STEP_AMOUNT"/>
    	<result property="recipeNo" column="RECIPE_NO"/>
    	<result property="stepFileName" column="STEP_FILENAME"/>
    </resultMap>
    
    <select id="getStepsByNo" resultType="com.oneyo.spring.step.domain.StepVO">
        SELECT 
        	STEP_NO, STEP_CONTENT, STEP_AMOUNT, RECIPE_NO, STEP_FILENAME
        FROM 
        	RECIPE_STEP
        WHERE 
        	RECIPE_NO = #{recipeNo}
        ORDER BY STEP_NO ASC
    </select>
    
    <insert id="insertStep">
    	INSERT INTO STEP (STEP_NO, RECIPE_NO, STEP_CONTENT, STEP_AMOUNT)
    	VALUES (SEQ_STEP_NO.NEXTVAL, #{recipeNo}, #{stepContent}, #{stepAmount})
    </insert>
    
    <update id ="updateStep">
    	UPDATE STEP
    	SET STEP_CONTENT = #{stepContent}
    	, STEP_AMOUNT = #{stepAmount} 
    	WHERE STEP_NO = #{stepNo} AND RECIPE_NO = #{recipeNo};
    </update>
    
    <delete id="deleteStep">
    	DELETE FROM RECIPE_STEP
    	WHERE STEP_NO = #{stepNo}
    </delete>
    
    
    <insert id="addStep">
		INSERT ALL
		    INTO RECIPE_STEP VALUES ('1', #{stepInfo1}, #{stepAmount1}, #{insert})
		    INTO RECIPE_STEP VALUES ('2', #{stepInfo2}, #{stepAmount2}, #{insert})
		    INTO RECIPE_STEP VALUES ('3', #{stepInfo3}, #{stepAmount3}, #{insert})
		SELECT 1 FROM DUAL;
    </insert>
    
</mapper>
