<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 널  값이 발생할 경우 빈칸이 아닌 NULL로 인식하라-->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>

		<typeAlias type="com.oneyo.spring.board.domain.BoardVO" alias="Board"/>
		<typeAlias type="com.oneyo.spring.member.domain.MemberVO" alias="Member"/>
		<typeAlias type="com.oneyo.spring.myref.controller.dto.MySourceList" alias="sourceList"/>
		<typeAlias type="com.oneyo.spring.recipe.domain.RecipeVO" alias="Recipe"/>
	</typeAliases>

	<mappers>

		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml" />
<!-- 		<mapper resource="mappers/mypage-mapper.xml" /> -->
		<!-- <mapper resource="mappers/myref-mapper.xml" /> -->
		<mapper resource="mappers/recipe-mapper.xml" />
	</mappers> 

</configuration>
