@charset "UTF-8";

.main-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.recipe-card {
    position: relative;
    width: 900px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.edit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fdfae5;
    border: 1px solid #c5b583;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 120px;
    cursor: pointer;
}

.image-placeholder {
    background-color: #fefee5;
    height: 600px;
    line-height: 400px;
    color: black;
    font-size: 20px;
    border: 1px solid #c5b583;
    margin-top: 150px;
}

.recipe-info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.text1 {
    font-size: 20px;
    margin-right: 200px;
}

.text2 {
    font-size: 15px;  
}


/* 전체 컨테이너 */
.ingredient-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 150px;
}

/* 재료 & 양념 그룹 */
.ingredient-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 제목 스타일 */
.ingredient-group h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 230px;
}

/* 개별 재료 박스 */
.ingredient-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffde7; /* 연한 노란색 배경 */
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    margin-bottom: 10px;
}

/* 입력 필드 스타일 */
.ingredient-box input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 20%;
    text-align: center;
}


h2 {
    margin-top: 100px;
}

.recipe-step {
    display: flex;
    align-items: center;
    background-color: #fffde7; /* 연한 노란색 배경 */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 500px;
    margin-right: 500px;
}

/* 숫자 부분 스타일 (원형) */
.step-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 15px;
}

/* 레시피 제목 스타일 */
.step-info h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

/* 이미지 영역 스타일 */
.recipe-image {
    width: 100px;
    height: 100px;
    background-color: #ddd; /* 임시 배경색 */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; /* 오른쪽 정렬 */
}