update.css ºÎºĞ


/*   „ì²  ì»¨í…Œ ´ „ˆ */
.ingredient-container1 {
    display: flex;
    justify-content: center;
    gap: 50px; /* ì¢Œìš° ê°„ê²© */
    padding: 20px;
    margin-bottom: 150px;
}

/*  ¬ë£  &  –‘ … ê·¸ë£¹ */
.ingredient-group1, .ingredient-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*   œëª   Š¤   ¼ */
.ingredient-group1 h2, .ingredient-group h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 570px;
}

/* ê°œë³„  ¬ë£  ë°•ìŠ¤ */
.ingredient-box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffde7; /*  —° •œ  …¸   ƒ‰ ë°°ê²½ */
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    margin-bottom: 10px;
    
}

/*  …  ¥  •„ “œ  Š¤   ¼ */
.ingredient-box1 input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    text-align: center;
}



.recipe1 {
    display: flex;
    align-items: center;
    background-color: #fffde7; /*  —° •œ  …¸   ƒ‰ ë°°ê²½ */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 500px;
    margin-right: 500px;
}

/*  ˆ«  ë¶ ë¶   Š¤   ¼ ( › ˜•) */
.recipe-number1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 15px;
}

/*   ˆ ‹œ ”¼   œëª   Š¤   ¼ */
.recipe-info1 h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

/*  ´ë¯¸ì   ˜ —­  Š¤   ¼ */
.recipe-image1 {
    width: 100px;
    height: 100px;
    background-color: #ddd; /*  „ ‹œ ë°°ê²½ ƒ‰ */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; /*  ˜¤ë¥¸ìª½   •  ¬ */
    cursor: pointer;
}

/* ì¶”ì²œ ë²„íŠ¼  Š¤   ¼ */
.update {
    text-align: center;
    margin: 20px 0;
}



.edit-btn1 {
    font-size: 24px;
    color: white;
    background-color: #c5b583;
    border: 1px solid #c5b583;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 150px;
    margin-right: 530px;
}

.edit-btn2 {
    font-size: 24px;
    color: white;
    background-color: #f70909;
    border: 1px solid #f70909;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 150px;
}
