@charset "UTF-8";
body {
    margin: 0 auto;
    padding: 0;    
}
main {
    width: 1400px;
    margin-top: 150px;
   
}
.modifymain{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mypagemain {
    width: 250px;
    padding: 20px;
}

.myinformation {
background-color: #fefef3;
border: 1px solid #DacF5B;
border-radius: 10px;
width: 200px;
height: 500px;
text-align: center;
}

.mypicture {
width: 100px;
height: 100px;
border: 1px solid #f0ecc7;
border-radius: 50%;;
background-color: white;
margin-top: 20px;
display: inline-block;
}

.detailinformation {
background-color: #F8F8F8;
width: 180px;
height: 250px;
margin-top: 20px;
display: inline-block;
border: 1px solid #f0ecc7;
border-radius: 20px;
position: relative;
}

.detailinformation button {
width:auto;
height: 10%;
margin: 10px;
border-radius: 10px;
background-color: #f5efb3; 
border: none;
}

/* 회원정보수정  */

.modifyMember,.modifypw{
    
    border-radius: 10px;
    border: 2px solid #DacF5B;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    justify-content: flex-start;
    background-color: #fefef3;
    
    
}
.modifypw{
    margin-top: 80px;
}

h3 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid #DacF5B;
}
label {
    display: block;
    margin-top: 10px;
}
input {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.id-input,.nickname-input{
    width: 180px;
}
/* 중복확인버튼 */
.check-button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.modify-button ,.password-button {
    width: 90%;
    background-color: #9c9865;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
