@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
main{
    width: 1400px;
}
.title{
    color: #777134;
}
form {
    display: flex;
    flex-direction: column;
    
}
label {
    width: 130px;
    font-weight: bold;
    justify-content: flex-end;
    text-align: right;
    margin: 10px 0 5px;
    padding: 0 20px ;
    display: flex;
    float: left;

}
.writer{
    border: none;
    display: flex;
    padding: 8;
    margin: 15px 10px 5px 10px;
}
.content{
    width: 800px;
    display: flex;
    padding: 10px;
    margin: 15px 10px 5px 10px;
    background-color: #FEFEF3;
    border: 1px solid #b2ac67;
    border-radius: 5px;
}
span{
    display: flex;
    justify-content: flex-end;
    width: 1000px;
    padding-bottom: 15px;
    color: #b2ac67;
}

/* 파일첨부 영역 */
.file-upload {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.file-upload input {
    padding: 8px;
    border: 1px solid #b2ac67;
    color: #b2ac67;
    border-radius: 5px;
    background-color: #FEFEF3;
}
/* 파일첨부 버튼 */
.cancel{
    background-color:white;
    border: 1px solid black;
    border-radius: 50%;
}
.select {
    margin-left: 10px;
    background-color: #aaa;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* 등록 취소 버튼 영역 */
.buttons {
    text-align: center;
    margin-top: 20px;
}
.buttons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}